<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">

                <!--loop over the collection of products-->
                <div *ngFor="let tmpProduct of products()" class="col-md-4">
                    <div class="peoduct-box">

                        <a routerLink="/products/{{ tmpProduct.id }}">
                            <img src="{{ tmpProduct.imageUrl }}" class="img-responsive">
                        </a>

                        <a routerLink="/products/{{ tmpProduct.id }}">
                            <h5>{{ tmpProduct.name }}</h5>
                        </a>

                        <div class="price">{{ tmpProduct.unitPrice | currency:'USD' }}</div>
                        <button (click)="addToCart(tmpProduct)" class="btn btn-primary btn-sm">Add to cart</button>
                    </div>
                </div>

                <!-- if products empty then display a message -->

                <div *ngIf="products()?.length == 0" class="alert alert-warning col-md-12" role="alert">
                    No products found.
                </div>

            </div>


            <!-- begin footer -->
            <div class="footer-pagination">
                <div class="row">
                    <div class="col-md-6"></div>
                    
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-9" style="padding-left: 30%"> 
                                <ngb-pagination [collectionSize]="theTotalElements" 
                                                [(page)]="thePageNumber" 
                                                [collectionSize]="theTotalElements"
                                                (pageChange)="listProducts()"
                                                aria-label="Default pagination" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end footer -->

        </div>
    </div>
</div>