<table class="table">
    <thead class="table-dark">
        <tr>
            <th></th>
            <th>Name</th>
            <th>Price</th>
            <th>Unit in Stock</th>
        </tr>
    </thead>

   <tbody>
    <tr *ngFor="let tmpProduct of products()">
        <td class="align-middle">
           <img src="{{ tmpProduct.imageUrl }}" height="50">
        </td>
        <td>{{ tmpProduct.name }}</td>
        <td>{{ tmpProduct.unitPrice | currency:'USD' }}</td>
        <td>{{ tmpProduct.unitsInStock }}</td>
    </tr>
</tbody>
</table>  

