<div class="cart-area d-n">
  <div class="login-status">
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <p>Logged in as: {{ (auth.user$ | async)?.name }}</p>
      <button (click)="logout()" class="security-btn">Logout</button>
      <button routerLink="/members" class="security-btn">Member</button>
      <button routerLink="/order-history" class="security-btn">Orders</button>
    </ng-container>

    <ng-template #loggedOut>
      <button (click)="login()" class="security-btn">Login</button>
    </ng-template>
  </div>
</div>
